body {
  padding: 20px;
}

.breed-select {
  margin-bottom: 40px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader-wrap, .error {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
}

.loader {
  margin-bottom: 20px;
}

.reload-btn {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ffffff;

  cursor: pointer;

  background-color: #ffffff;

  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.reload-btn:is(:hover, :focus) {
  border-color: #000000;
}

.reload-btn a {
  text-decoration: none;

  color: #000000;
}

.cat-info {
  display: flex;
  gap: 20px;
}
